@import "tailwindcss";

@layer theme, base, components, utilities;

@theme {
  --font-sans: "Roboto";
  --body-bg: #282c34;
  --body-color: #a8a8a8;
}

@layer base {
  body {
    background-color: theme(body-bg);
    color: theme(body-color);
  }
}

/**
 * Media query
 */
@layer utilities {
  :root {
    --xs: false;
    --sm: false;
    --md: false;
    --lg: false;
    --xl: false;
    --xxl: false;
  }


  @media (width <theme(breakpoint-sm)) {
    :root {
      --xs: true;
    }
  }

  @media (width >=theme(breakpoint-sm)) and (width <theme(breakpoint-md)) {
    :root {
      --sm: true;
    }
  }

  @media (width >=theme(breakpoint-md)) and (width <theme(breakpoint-lg)) {
    :root {
      --md: true;
    }
  }

  @media (width >=theme(breakpoint-lg)) and (width <theme(breakpoint-xl)) {
    :root {
      --lg: true;
    }
  }

  @media (width >=theme(breakpoint-xl)) and (width <theme(breakpoint-2xl)) {
    :root {
      --xl: true;
    }
  }

  @media (width >=theme(breakpoint-2xl)) {
    :root {
      --xxl: true;
    }
  }
}