.UserContainer-container {
	background-color: #21252b;

	&.container {
		display: flex;
		gap: 20px;
		padding: 20px;

		div {
			width: 300px;
		}
	}

	p {
		padding-left: 25px;
		margin: 0px;
	}

	pre {
		color: gray;
		font-size: 12px;
		max-height: 700px;
		overflow: auto;
	}

	button {
		margin: 10px;
		height: 50px;
		width: 180px;
	}

	input[type='text'] {
		margin: 20px;
		height: 30px;
		width: 180px;
	}

	input[type='checkbox'] {
		height: 30px;
		width: 30px;
	}

	input[type='radio'] {
		height: 30px;
		width: 30px;
	}

	select {
		margin-left: 40px;
		height: 30px;
		width: 180px;
	}

	.my-css {
		font-size: 20px;
	}
}